[mysqld]
server-id=1
character-set-server=utf8mb4

# max connections
max_connections = 1024

# slow query
slow_query_log = 1
long_query_time = 0
slow_query_log-file = /var/log/mysql/slow.log

# stop bin log
disable-log-bin

# https://matsuu.hatenablog.com/entry/2022/09/11/154640
innodb_buffer_pool_size=1G

innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 0
innodb_flush_log_at_timeout = 3

innodb_log_group_home_dir = /dev/shm
innodb_redo_log_capacity = 128M

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
