[mysqld]
server-id=1
character-set-server=utf8mb4

# max connections
max_connections = 1024

# slow query
slow_query_log = 1
long_query_time = 0
slow_query_log-file = /var/log/mysql/slow.log

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
